<h1>タスク一覧表示</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>優先順位</th>
    <th>ステータス</th>
    <th>期限</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= task.limit %></td>
  </tr>
<% end %>
</table>
