<p><%= notice %></p>
<h1>タスク一覧表示</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>優先順位</th>
    <th>ステータス</th>
    <th>期限</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= l task.created_at %></td>
    <td><%= link_to t('view.tasks.index.Show'), task %></td>
    <td><%= link_to t('view.tasks.index.Edit'), edit_task_path(task) %></td>
    <td><%= link_to t('view.tasks.index.Destroy'), task, method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } %></td>
  </tr>
<% end %>
  <%= link_to t('view.tasks.index.New Task'), new_task_path, class: '' %>
</table>
