<p><%= notice %></p>
<h1>タスク一覧表示</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Limit</th>
  </tr>
  <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<% @tasks.each do |task| %>
  <tr>
    <td class="task_row"><%= task.title %></td>
    <td class="task_row"><%= task.content %></td>
    <td class="task_row"><%= l task.created_at %></td>
    <td class="task_row"><%= task.status %></td>
    <td class="task_row"><%= task.priority %></td>
    <td class="task_row"><%= link_to t('view.tasks.index.Show'), task %></td>
    <td class="task_row"><%= link_to t('view.tasks.index.Edit'), edit_task_path(task) %></td>
    <td class="task_row"><%= link_to t('view.tasks.index.Destroy'), task, method: :delete, data: { confirm: t('view.tasks.index.Are you sure?') } %></td>
  </tr>
<% end %>
  <%= link_to t('view.tasks.index.New Task'), new_task_path, class: '' %>
</table>
