<p><%= notice %></p>

<p>
<strong>タスク名：</strong>
  <%= @task.title %>
</p>
<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
